Dear {{ to }},

I hope this email finds you well. I am writing to inform you that one of our group members has volunteered to assist you with your help request.

{{ from }} has expressed their willingness to help and has already begun working on a response to your inquiry. We greatly appreciate their efforts to assist you, and we hope that their response will be useful to you.

this link bellow is for {{ from }}'s profile
{{ protocol }}://{{ domain }}{% url 'profile' from.pk %}

Best regards,

[Your Name/Platform Name]